/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../_sass/screen.scss */
body, html {
  color: #333333;
  font-size: 16px;
}

/* line 16, ../_sass/screen.scss */
h1 {
  font-size: 4em;
}

/* line 20, ../_sass/screen.scss */
h2 {
  font-size: 3em;
}

/* line 24, ../_sass/screen.scss */
.logo > a > img {
  height: auto;
  width: 16em;
  margin-top: 2em;
}

/* line 1, ../_sass/_header.scss */
.header {
  position: fixed;
  height: 100%;
  width: 20em;
  background: #333333;
  color: white;
  text-align: center;
}
/* line 9, ../_sass/_header.scss */
.header .my-info {
  margin-top: 1em;
  color: white;
  font-size: 18px;
}
/* line 14, ../_sass/_header.scss */
.header .my-info h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.7em;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* line 21, ../_sass/_header.scss */
.header .my-info h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  line-height: 27px;
}
/* line 27, ../_sass/_header.scss */
.header .my-info img {
  height: auto;
  width: 9em;
}
/* line 33, ../_sass/_header.scss */
.header .social-sites {
  margin-top: 2em;
}
/* line 36, ../_sass/_header.scss */
.header .social-sites a {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  margin-right: 15px;
  width: 28px;
  height: 28px;
  transition: 0.3s;
}
/* line 47, ../_sass/_header.scss */
.header .social-sites .facebook {
  background: url("/img/social/facebook.png") center no-repeat #3b5998;
  border: 1px solid #3B5998;
}
/* line 51, ../_sass/_header.scss */
.header .social-sites .facebook:hover {
  border: 1px solid #2d4373;
}
/* line 56, ../_sass/_header.scss */
.header .social-sites .google {
  background: url("/img/social/google.png") center no-repeat #c83d20;
  border: 1px solid #C83D20;
}
/* line 60, ../_sass/_header.scss */
.header .social-sites .google:hover {
  border: 1px solid #9c3019;
}
/* line 65, ../_sass/_header.scss */
.header .social-sites .twitter {
  background: url("/img/social/twitter.png") center no-repeat #55cff8;
  border: 1px solid #55CFF8;
}
/* line 69, ../_sass/_header.scss */
.header .social-sites .twitter:hover {
  border: 1px solid #24c1f6;
}
/* line 74, ../_sass/_header.scss */
.header .social-sites .github {
  background: url("/img/social/github.png") center no-repeat #3b5998;
  border: 1px solid #3B5998;
}
/* line 78, ../_sass/_header.scss */
.header .social-sites .github:hover {
  border: 1px solid #909ab6;
}
/* line 83, ../_sass/_header.scss */
.header .social-sites .linkedin {
  background: url("/img/social/linkedin.png") center no-repeat #afb6ca;
  border: 1px solid #afb6ca;
}
/* line 87, ../_sass/_header.scss */
.header .social-sites .linkedin:hover {
  border: 1px solid #003854;
}
/* line 92, ../_sass/_header.scss */
.header .social-sites .rss {
  background: url("/img/social/rss.png") center no-repeat #ef7522;
  border: 1px solid #EF7522;
}
/* line 96, ../_sass/_header.scss */
.header .social-sites .rss:hover {
  border: 1px solid #cf5d0f;
}
/* line 102, ../_sass/_header.scss */
.header .navbar {
  position: fixed;
  bottom: 5em;
  left: 3em;
  text-align: left;
  width: 12em;
}
/* line 109, ../_sass/_header.scss */
.header .navbar li a {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  line-height: 26px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
/* line 117, ../_sass/_header.scss */
.header .navbar li a:hover {
  color: #AAA;
}
/* line 121, ../_sass/_header.scss */
.header .navbar li a:visited {
  color: white;
}
/* line 127, ../_sass/_header.scss */
.header .header-footer {
  position: fixed;
  bottom: 1em;
  left: 2em;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
}
/* line 135, ../_sass/_header.scss */
.header .header-footer span {
  display: block;
}

/* line 33, ../_sass/screen.scss */
.container {
  margin-left: 22em;
  max-width: 730px;
}

/* line 38, ../_sass/screen.scss */
.carousel {
  margin-left: -2em;
  margin-bottom: 2em;
}

/* line 43, ../_sass/screen.scss */
.welcome-img {
  height: auto;
  width: 44em;
}

/* line 48, ../_sass/screen.scss */
.view-content {
  font-family: 'Oxygen', sans-serif;
  color: #333333;
  max-width: 700px;
  margin-right: 1.5em;
  text-align: justify;
}
/* line 55, ../_sass/screen.scss */
.view-content h1 {
  color: #333333;
  font-size: 4em;
  margin-bottom: 0.7em;
}
/* line 62, ../_sass/screen.scss */
.view-content .meta {
  margin-top: 0.7em;
  margin-bottom: 2.7em;
}
/* line 69, ../_sass/screen.scss */
.view-content .post {
  line-height: 24px;
  font-size: 17px;
}
/* line 73, ../_sass/screen.scss */
.view-content .post div {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 84, ../_sass/screen.scss */
.posts-index ul li a {
  font-size: 2em;
  color: #333333;
  text-decoration: none;
  line-height: 72px;
}
/* line 91, ../_sass/screen.scss */
.posts-index p {
  line-height: 24px;
}

/* line 96, ../_sass/screen.scss */
.welcome-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
