<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="Freelance mobile and web developer, specialized in Android, Ruby on Rails, Xamarin solutions, standard HTML5, custom CMSs, etc.">
        <meta name="keywords" content="freelance,developer,android,mobile,develpment,web,ruby,rails,html,html5,css3,css,java,c#,xamarin,wordpress,posgres,postgresql">
        <meta name="author" content="Andres Clari">

        <title>{{ page.title }}</title>

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <link rel="icon" type="image/png" href="/favicon.png">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Oswald|Oxygen' rel='stylesheet' type='text/css'>

        <!-- SCSS -->
        <link rel="stylesheet" href="/css/screen.css">

    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png"/>
                    </a>
                </div>

                <div class="my-info">
                    <img src="/img/Head.png"/>
                    <h1>Andres Clari</h1>
                    <h3>I’m a freelance mobile and web developer specialized in Android development, Ruby on Rails sites and web apps, I tweet, blog occasionally and jump of planes.</h3>
                </div>

                <div class="social-sites">
                    <a class="facebook" href="http://www.facebook.com/andres.clari" title="Facebook">Facebook</a>
                    <a class="google" href="https://plus.google.com/106091795966466243290/" title="Google +">Google +</a>
                    <a class="twitter" href="http://www.twitter.com/andresClari" title="Twitter">Twitter</a>
                    <a class="github" href="http://github.com/andresclari" title="GitHub">GitHub</a>
                    <a class="linkedin" href="http://es.linkedin.com/in/andresclari/" title="LinkedIn">LinkedIn</a>
                    <a class="rss" href="/feed.xml" title="RSS">RSS</a>
                </div>

                <div class="navbar">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/blog">BLOG</a></li>
                        <li><a href="/blog">PROJECTS</a></li>
                        <li><a href="/blog">APPS</a></li>
                        <li><a href="/blog">CONTACT</a></li>
                        <li><a href="/blog">ABOUT</a></li>
                    </ul>
                </div>

                <div class="header-footer">
                    <span>&copy; 2013 SteelCode Consulting.</span>
                    <span>All rights reserved.</span>
                </div>
            </div>

        
