.header {
  position: fixed;
  height: 100%;
  width: 20em;
  background: $black-color;
  color: white;
  text-align: center;
  box-shadow: 0 0 3px #222;

  @media screen and (max-width: $width-break) {
    position: inherit;
    height: inherit;
    width: inherit;
  }

  & .my-info {
    margin-top: 1em;
    color: white;
    font-size: 18px;

    & h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 2.7em;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    & h3 {
      font-family: 'Oxygen', sans-serif;
      font-size: 1em;
      line-height: 27px;
    }

    & img {
      height: auto;
      width: 9em;
    }

    @media screen and (max-height: $height-break) {
      font-size: 16px;
    }
    @media screen and (max-height: $height-break2) {
      font-size: 14px;
    }
    @media screen and (max-height: $min-height) {
      & img {
        width: 4em;
        display: inline-block;
        vertical-align: middle;
      }

      & h1 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
    @media screen and (max-width: $width-break) {
      display: inline;
      font-size: 14px;

      & img {
        width: 4em;
        display: inline-block;
        vertical-align: middle;
      }

      & h1 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }
    @media screen and (max-width: $width-break3) {
      & img {
        width: 3em;
      }

      & h1 {
        font-size: 1.7em;
      }
    }
  }

  & .social-sites {
    margin-top: 2em;

    & a {
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      text-indent: -9999px;
      margin-right: 15px;
      width: 28px;
      height: 28px;
      transition: 0.3s;
    }

    & .facebook {
      background: url('/img/social/facebook.png') center no-repeat #3b5998;
      border: 1px solid #3B5998;

      &:hover {
        border: 1px solid #2d4373;
      }
    }

    & .google {
      background: url('/img/social/google.png') center no-repeat #C83D20;
      border: 1px solid #C83D20;

      &:hover {
        border: 1px solid #9c3019;
      }
    }

    & .twitter {
      background: url('/img/social/twitter.png') center no-repeat #55CFF8;
      border: 1px solid #55CFF8;

      &:hover {
        border: 1px solid #24c1f6;
      }
    }

    & .github {
      background: url('/img/social/github.png') center no-repeat #afb6ca;
      border: 1px solid #afb6ca;

      &:hover {
        border: 1px solid #909ab6;
      }
    }

    & .linkedin {
      background: url('/img/social/linkedin.png') center no-repeat #005a87;
      border: 1px solid #005a87;

      &:hover {
        border: 1px solid #003854;
      }
    }

    & .rss {
      background: url('/img/social/rss.png') center no-repeat #EF7522;
      border: 1px solid #EF7522;

      &:hover {
        border: 1px solid #cf5d0f;
      }
    }

    @media screen and (max-width: $width-break) {
      margin: {
        top: 0.8em;
        bottom: 0.8em;
      }
    }
  }

  & .navbar {
    position: absolute;
    bottom: 5em;
    left: 3em;
    text-align: left;
    width: 12em;

    & li a {
      font-family: 'Oxygen', sans-serif;
      font-weight: bold;
      line-height: 26px;
      color: white;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        color: #AAA !important;
      }

      &:visited {
        color: white;
      }
    }

    @media screen and (max-width: $width-break) {
      position: inherit;
      width: 100%;
      bottom: inherit;
      left: inherit;
      text-align: inherit;

      & ul {
        height: 2.7em;
      }

      & li {
        display: inline-block;
        margin-right: 1.5em;
      }
      & li:last-child {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $width-break2) {
      & li a {
        font-size: 15px;
      }
    }
    @media screen and (max-width: $width-break3) {
      & ul {
        height: 3.7em;
      }
    }
  }

  & .header-footer {
    position: absolute;
    bottom: 1em;
    left: 2em;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;

    & span {
      display: block;
    }

    @media screen and (max-width: $width-break) {
      display: none;
    }
  }
}

